<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Uh oh, something happened.</h1>
        <em>HINT: Did you create and bind a database to your application?</em>
    </hgroup>
</body>
</html>
